* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffce44, #d0a83b);
}

.card {
  background: #ffff;
  width: 750px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.card-content {
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.card-logo-img {
  display: relative-block;
  position: relative;
  left: 0;
  width: 200px;
  height: 200px;
}

.card-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
}

.card-text h2 {
  font-size: 2em;
}

.card-text p {
  font-size: 2em;
}

.card-image {
  display: relative-block;
  position: relative;
  width: 600px;
  height: 350px;
  margin: 20px;
  transition: 0.5s;
  border-radius: 50px;
  background: linear-gradient(135deg, #ffce44, #d0a83b);
  box-shadow: 50px;
  transition: 0.5s;
}

.card-image img {
  height: 100%;
  border-radius: 50px;
  transition: 0.5s;
}

.card-image:hover img {
  transition: 0.5s;
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.6);
}

/*@media (max-width: 990px) {
  .card {
    position: relative;
    width: auto;
  }
}

@media (max-width: 450px) {
  .card {
    position: relative;
  }
}
*/
