* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffce44, #d0a83b);
}

.card {
  position: relative;
  width: 600px;
  height: 350px;
  margin: 20px;
  transition: 0.5s;
  border-radius: 50px;
  background: linear-gradient(135deg, #ffce44, #d0a83b);
  box-shadow: 50px;
  transition: 0.5s;
}

.card img {
  height: 100%;
  border-radius: 50px;
}

.card:hover img {
  transition: 0.5s;
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.6);
}

/*@media (max-width: 990px) {
  .card {
    position: relative;
    width: auto;
  }
}

@media (max-width: 450px) {
  .card {
    position: relative;
  }
}
*/
